/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
  font-size: 12px;
  font-weight: normal;
  

}

ul {
	padding-left: 0px;
}
ul li {
	list-style: none;
	display:inline-block;
}
ul.ul_blog li a {
	font-size: 14px;
}
ul.ul_blog {

}
div.block_fr {
	width: 100%;
	clear: both;
	min-height:138px;
	margin-top: 17px;
}
li.item12 {
	padding-left: 14px;
	padding-top: 20px;
	line-height: 18px;
}
li.item22 {
	padding-left: 14px;
	padding-top: 5px;
	
}
.submenu {
	
}
.submenu a {
	cursor: pointer;
	z-index: 2;
}
.menusub2 li {
	padding-left: 38px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.itemsub1{
	padding-left: 15px;
}
.submenu {
	margin-left: 12px;
	border-top: solid 3px #3c599f;
	background: none repeat scroll 0 0 #fff;
    line-height: 24px;
	cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    width: 178px;
    z-index: 9;
	padding-bottom: 25px;
	position: absolute;
	display: none;
	

}
.submenu li.hover a { 

	color:#ed9a00;
	font-weight: bold;
}
.submenu2 li {
	margin-left: -8px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 113%;
	padding-left: 24px;
}
.submenu li.hover {
	background: url("../images/m_hover.jpg") no-repeat scroll 8px center #3C599F;
    font-weight: bold;
    margin-left: -8px;
    padding-bottom: 2px;
    padding-left: 38px;
    padding-top: 2px;
    width: 110%;    
}
.submenu li a:hover {
	text-decoration: none;
}
.menusub1 li a {
	font-size: 14px;
	color: #6d6d6d;
}
.menusub2 li a {
	font-size: 12px;
	color: #6d6d6d;
}
.submenu ul li {
	display: block;
}
div.block_sd {
	width: 100%;
	clear: both;
	min-height:30px;
	
}
div.thoiluong {
	border: 1px dashed #005db4;
    float: left;
    min-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
	border-radius: 2px;
}
div.hocphi {
	
	margin-left: 14px;
}
.date_day {
	font-size: 44px;
}
h1.fr_date {
	text-align: center;
	font-size: 18px;
	font-weight: bold;

}
.title_2 {
	width: 80%;
}
li.col1 {
	float: left;
}
li.col2 {
	float: right;
}
.tg_left {
	width: 16%;
	min-height: 30px;
	float:left;
	padding-top: 4px;
	color:#005db4;
}
.tg h1, .tg h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	
}
.tg_right {
	width: 84%;
	min-height: 30px;
	float:left;
}
.item21 {
	padding-top: 0px;
	float: left;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  	background: none repeat scroll 0 0 #F6F6F6;
    min-height: 140px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}
ul.head_menu_left {
	padding-left: 0px;
	margin-top: 20px;
}
ul.head_menu_left li {
	display: inline-block;
}
/* Flip around the padding for proper display in narrow viewports */
.left {
	min-height:500px;
	padding-left: 0px;
	padding-right: 0px;
}
.sub_content_left {
	min-height: 200px;
	background:  #FFF;
	padding-left: 0px;
	
}
.sub_content_right, .sub_content_left{
	width: 300px;
	float: left;
	margin-bottom: 0px;

}
div.wrap_sub_content {
	width: 100%;
	min-height: 302px;
	margin-top: 34px;

}
h1.khskg {
	margin-top: 0px !important;
}
ul.ul_gv_one li img {
	margin-top: 0px;
}
ul.ul_gv_one li{
	float: left;
}

ul.ul_gv_two {
	padding-left: 0px;
}
.head_p {
	font-size: 14px;
	margin-bottom: 0px;
	text-align: justify;
}
ul.ul_subrible li{
	display: inline-block;
}
div.txt_first_ct_left {

}
.sub_content_right {
	min-height: 200px;

}
.subcri {
	width: 218px;
}

.copy_right_foot {
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 18px;
}
.rigth {
	color: #434343;
    font-size: 12px;
    font-weight: normal;
    min-height: 500px;
    padding-right: 0;
	padding-left: 0px;
	margin-left: 10px;
    text-align: left;

}



h1.title {
	font-size: 28px;
	color: #005db4;	
	margin-top: 30px;
}
.txt_blue {
	color: #005db4;	
}
.ltg {
	
}
.wrap_partner {
	
	background:#f6f6f6;
	width: 100%;
	min-height:100px;
}
.bgr {
	margin-bottom: 16px;
    margin-top: 20px !important;
}
.tg_fr {
	margin-top: 20px !important;
}
.bgr .line {
	width: 82% !important;
}
.hdr .line {
	width: 56% !important;
}
.hdr {
	margin-bottom: 15px;
    margin-top: 50px;	
}
.titlevideo {
	float:left;
	width: 100%;
}
.small_title {
	font-size: 12px;
}
.text_beside_menu {
	margin-top: 20px;
}

li.active .underline {
	border-bottom: solid 2px #005DB4; 
	padding-bottom: 5px;
}
h1.title_left {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.dknt {
	margin-top: 20px !important;
}
.wrap_footer {
	
	background:#003f7b;
	width: 100%;
	min-height:68px;
	bottom: 0px;
	text-align: center;
	color: #FFF;
}
.wrapslider {
	width: 100%;
	min-height: 343px;
	background: #002345;
}

div.tg {
	background: none repeat scroll 0 0 #F6F6F6;
    margin-bottom: 10px;
    margin-top: 10px;
	color: #666666;
    min-height: 80px;
    padding-top: 2px;
	border-radius: 5px;
	overflow: hidden;
	width:100%;
	padding-bottom: 0px;
}
ul.ul_blog li a {
	color: #434343;
}
.title_2 {
	color: #434343;
    font-size: 18px !important;
    margin-bottom: 10px !important;
    margin-top: 6px !important;
}
.tieude {
	min-height: 20px;
	width: 100%;
	margin-top: 36px;	
}
.wrap_bottom h4 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 24px;
}
.readmore_bottom {
	font-weight: normal;
	font-style: normal;
	font-style: italic;
}
.txt_bottom_ve_sfb {
	text-align: justify;
}


li.add {
	background:url(../images/posi.png) no-repeat 1px center;
}
li.tel {
	background:url(../images/tel.png) no-repeat left center;
}
li.fax {
	background:url(../images/fax.png) no-repeat left center;
}
li.mail {
	background:url(../images/m.png) no-repeat left center;
}
li.mobile {
	background:url(../images/mobile.png) no-repeat 4px center;
}
li.icon_you_social {
	
}
.m_bottom {
	color: #fff;
}
ul.arrow li {
	display: block;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 10px;
    padding-left: 35px;
	font-size: 12px;
}


.wrap_bottom p {
	font-weight: normal;
	font-size: 12px;
}
div.cam h1.fr_date,.cam {
	color: #ed9a00;
}
.price {
	font-weight:bold;
}
.arrow li, .copy_right_foot {
	font-weight: normal;
}
.wrapcontent {

	width: 100%;
	min-height: 500px;
	background: #fff;

}
.online {
	margin-top: 5px;
}

.online:first-letter{
	color: #d28609;	
}

li.menu_devision img{
	margin-top: 8px;
}
.fr_letter {
	
}
li.text_top_left {
	
}
.logo {
	height: 101px;
    margin-left: -4px;
    margin-right: 40px;
    margin-top: 19px;
    padding: 0;
    width: 333px;
}
li.menu_item_first a {
	padding-left: 0px;
} 
li.menu_item_last a {
	padding-right: 0px;
}
.wrap_bottom {
	
	background:#005db4;
	min-height: 230px;
	color: #FFF;
	
}
h1.title_khoahoc {
	font-size: 22px;
}
.line {
	border-bottom: 1px solid #005DB4;
    color: #005DB4;
    float: right;
    width: 58%;
	height:20px;
}
.col-lg-4 .line {
	 width: 42%;
}
.item2_blg {

}
.item31 {
	 border-left: 1px solid #F6F6F6;
    color: #666666;
    float: right;
	word-spacing: -1px;
    font-size: 12px;
    min-height: 80px;
    padding-left: 10px;
    padding-right: 0;
    text-align: justify;
    
}
@media (min-width: 1024px) {
.item31 {
	width: 210px;
}
}


@media (max-width: 1178px) {
.item31 {
	width:82% !important;
}
.col-lg-4 .line {
	width: 68% !important;
}
}
.bxslider {
	width: 100%;
}
.bx-viewport {
	height: auto !important;
	width: 101% !important;
}
.bxslider img {
	width:100%;
}
.item312 {
	
}
.item1 {
	height: 32px;
    text-align: right;
    width: 100%;
	margin-bottom: 22px;
	margin-top: 15px;
}
.item_second .item30 img{
	margin-top: 2px;
}
.navbar-wrapper .col-lg-8 {
	padding: 0px;
	margin: 0px;
	float: right;
}
@media (min-width:768px) and (max-width:1024px)
{
	.line{
		width: 40% ;		
	}
}
@media (max-width:768px) {
	.line{
		width: 30% ;		
	}
	.item1 {
		margin-bottom: 60px !important;
	}
}
@media (max-width:1024px)
{
	.item1 {
		margin-bottom: 50px !important;
	}
	
	.khskg .line{
		width: 36% !important ;
		height: 30px !important;		
	}
	
}
.item_second {
	min-height: 84px !important;
}

div.item {
	width: 100%;
	clear:both;
	min-height: 100px;
}
.txt_bl1 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	font-size: 12px;
}
.item30 {
    float: left;
    min-height: 100px;
    width: 78px;;
	text-align:center;
	
}
li.blog1 {
	float: left;
	margin-left: 10px;
	margin-right: 14px;
}
.wrap_item_right {
	width: 100%;
	min-height: 100px;
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.txt_hd {
	 font-size: 14px;
    font-weight: bolder;
    padding-top: 8px;
	margin-bottom: 0px;
}
.dttv {
	color: #9d9d9d;
	font-size: 14px; 
	font-weight: normal;
}
.dttop_div {
	 height: 60px;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 14px;
    text-align: left;
    width: 181px;
}
ul.icon_social li img {
	margin-top: -22px;
}
.sodienthoai {
	color: #ED9A00;
    font-size: 24px;
    font-weight: bold;
}
.name_tg {
	color: #005db4;
}
.position_tg {
	font-style:italic;
}
ul.ul_partner li {
	display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
	list-style: none;
}
li.txt_doitac {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #999999;
	padding-left: 0px !important;
}
p.read_all {
    padding-top: 20px;
	
}
p.read_all a {
	color: #ED9A00;
    font-size: 16px;
    
	
}
div.tg_all {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: normal;
    margin-top: -20px;
    min-height: 71px;
    text-align: center;
}
ul.ul_partner {
	padding-left: 0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
ul.icon_social {
	padding-left: 0px;
	clear: both;
	margin-bottom: 0px;
}
div.menutop {
	float:right;
	width: 100%;
	min-height:30px;
	padding-top: 2px;
}
div.social {
	width: 100%;
	clear:both;
	text-align: right;
}
li.p_txt {
	
	padding-left: 10px;
    padding-right: 25px;
	
}
ul.icon_social li{
	list-style: none;
	display: inline-block;
	padding-top: 18px;
	line-height: 8px;
	padding-left: 10px;
}
.sub_menu_lavel1 {
	padding-top: 16px;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
