/* ##### NAVBAR ##### */

.navbar.rj-navbar {
    position: relative;
    margin: 0;
    border: 0;
}

@media (min-width: 767px) {
    .navbar.rj-navbar {
        -webkit-transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.3s ease-in-out, padding 0.5s ease-in-out;
    }
}

.navbar.rj-navbar .navbar-brand {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar.rj-navbar .navbar-brand:hover {
    color: #fff;
}

.navbar.rj-navbar .navbar-nav > li > a {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar.rj-navbar .navbar-nav > li > a > i.fa-angle-down {
    padding-left: 2px;
}

.navbar.rj-navbar .navbar-nav > li > a:hover {
    color: #3996cc;
}

.navbar.rj-navbar .navbar-nav > li.active a,
.navbar.rj-navbar .navbar-nav > li.active a:hover {
    background-color: #3996cc;
    color: #fff;
}

@media (min-width: 767px) {
    .navbar.rj-navbar .navbar-nav > li.active a,
    .navbar.rj-navbar .navbar-nav > li.active a:hover {
        background-color: #fff;
        background-image: url("../img/bg-noise.png");
        background-repeat: repeat;
        color: #222;
    }
}