/* ##### SIDEBAR ##### */

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 2000;
    opacity: 0.98;
    width: 250px;
    background: #222;
    position: fixed;
    filter: alpha(opacity=98);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=98)";
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#sidebar-wrapper > .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-wrapper > .sidebar-nav > li {
    height: 33px;
    line-height: 33px;
    text-indent: 20px;
}

#sidebar-wrapper > .sidebar-nav > li > a {
    display: block;
    color: #f5f5f5;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li > a:hover {
    color: #f5f5f5;
    background: rgba(57, 150, 204, 0.9);
    text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li > a:active,
#sidebar-wrapper > .sidebar-nav > li > a:focus {
    text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li.sidebar-brand {
    background-color: #3996cc;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper {
    position: absolute;
    line-height: 0px;
    text-indent: 0px;
    top: 8px;
    right: 8px;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper > a {
    border: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}